@media screen and (max-width:992px){
    section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .container0{
        padding: 20px 0;
    }
    #goals{
        order: -5;
    }
    .goals1{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        margin: 0 20px;
    }
    .goals1 div:first-child{
        margin: 0 auto;
    }
    #scopes{
        order: -4;
    }
    .scopes{
        flex-direction: column;
    }
    .scopes1{
        padding: 0 30px;
        margin: 0 20px;
    }
    #team{
        order: -3;
    }
    .team1{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        margin: 0 20px;
    }
    .team1 i{
        margin: 0 auto;
    }
    #primary{
        order: -2;
    }
    .primary1{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        margin: 0 20px;
    }
    .primary1 div:first-child{
        margin: 10px auto;
        padding: 0px 8px;
        border-radius: 20px;
    }
    #timeline{
        order: -1;
    }
    .timeline1{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        margin: 0 20px;
    }
    .timeline1 div:first-child{
        align-self: self-start;
        margin: 10px 0;
        padding: 5px 9px;
        border-radius: 50%;
    }
    .timeline1 div:last-child{
        border-bottom: 1px dashed cyan;
        margin-left: -30px;
        padding-left: 30px;
    }
}